.map-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 111;
  margin: auto;
  width: 90%;
  height: 80%;
  // background: radial-gradient(black, transparent);
  background: -webkit-radial-gradient(center center, ellipse cover, rgba(0, 0, 0, 1) 0, rgba(76, 78, 75, 0.7) 100%);
  left: 0;
  bottom: 0;
}

.close-btn{
  text-decoration: underline;
  right: 0px;
  font-size: 15px;
  padding: 15px 20px;
  position: absolute;
  cursor: pointer;
}